@import "tailwindcss";


@theme {

    --font-pt-serif: 'PT Serif', serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-lexend-deca: 'Lexend Deca', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

    --color-green-100: #7B6F47;
    --color-green-200: #82896E;
    --color-green-300: #3E3F22;
    --color-green-400: #264025;
    --color-brown-100: #DEC8B7;
    --color-brown-200: #C89E7A;
    --color-brown-300: #DDCBB7;
  }